<div class="modal" id="password_protected_download<%= downloadable.id %>" role="dialog" style="display:none">
  <%= form_tag spree.downloadable_path(downloadable), method: :get do -%>
    <div class="modal-header">
      <%= I18n.t 'download' %>
    </div>
    <div class="modal-body">
        <p><%=t 'this_file_is_password_protected'  %></p>
        <label for="password"><%= t(:password) %></label>
        <input type="text"   name="password" value="" />
    </div>
    <div class="modal-footer">
      <%= submit_tag t('download'), class: 'btn', onclick: "$(this).closest('.modal').modal('hide');" %>
      <%= button_tag t('cancel'), class: 'btn', :"data-dismiss" => "modal" %>
    </div>
  <% end %>
</div>